<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/slick-theme.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Blograph</title>
</head>
<body>
    <div class="navbarBlock">
        <div class="float1">
            <span>
                <a href="/" class="right">About</a>
                <a href="/" class="right">Contact</a>
                <a href="/" class="right">F.A.Q.</a>
            </span>
            <span>
                <button><i class="bi bi-brightness-alt-high-fill"></i></button>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-translate"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Azerbaijani</a></li>
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Russian</a></li>
                    </ul>
                </div>
            </span>
        </div>
        <hr>
        <div class="float2">
            <span>
                <a href="./index.html" class="logo"><i class="bi bi-paragraph"></i>Blograph</a>
            </span>
            <span>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Articles</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./list.html">Lifestyle</a></li>
                        <li><a class="dropdown-item" href="./list.html">Technology</a></li>
                        <li><a class="dropdown-item" href="./list.html">Business</a></li>
                        <li><a class="dropdown-item" href="./list.html">Sport</a></li>
                        <li><a class="dropdown-item" href="./list.html">Travel</a></li>
                        <li><a class="dropdown-item" href="./list.html">History</a></li>
                    </ul>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search article" aria-label="Search article" aria-describedby="button-addon2">
                    <button class="btn" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
                </div>
            </span>
        </div>
        <hr>
        <div class="float3">
            <div class="head">
                <p>Hot news:</p>
            </div>
            <div class="hotNewsSlider">
                <div>
                    <a href="./post.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto dignissimos optio perspiciatis recusandae cupiditate explicabo sed consequuntur consequatur ipsum blanditiis molestiae voluptates sint numquam excepturi repudiandae distinctio, velit rem!</a>
                </div>
                <div>
                    <a href="./post.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto dignissimos optio perspiciatis recusandae cupiditate explicabo sed consequuntur consequatur ipsum blanditiis molestiae voluptates sint numquam excepturi repudiandae distinctio, velit rem!</a>
                </div>
                <div>
                    <a href="./post.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto dignissimos optio perspiciatis recusandae cupiditate explicabo sed consequuntur consequatur ipsum blanditiis molestiae voluptates sint numquam excepturi repudiandae distinctio, velit rem!</a>
                </div>
                <div>
                    <a href="./post.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto dignissimos optio perspiciatis recusandae cupiditate explicabo sed consequuntur consequatur ipsum blanditiis molestiae voluptates sint numquam excepturi repudiandae distinctio, velit rem!</a>
                </div>
                <div>
                    <a href="./post.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus iusto dignissimos optio perspiciatis recusandae cupiditate explicabo sed consequuntur consequatur ipsum blanditiis molestiae voluptates sint numquam excepturi repudiandae distinctio, velit rem!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbarMob">
        <span>
            <a href="./index.html" class="logo"><i class="bi bi-paragraph"></i>Blograph</a>
        </span>
        <span>
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list"></i></button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="offcanvas-body">
                    <div class="categories">
                        <a href="./list.html">History</a>
                        <a href="./list.html">Lifestyle</a>
                        <a href="./list.html">Sport</a>
                        <a href="./list.html">Travel</a>
                        <a href="./list.html">Business</a>
                        <a href="./list.html">Technology</a>
                        <div class="line"></div>
                        <a class="dropdown-item" href="#">Azerbaijani</a>
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Russian</a>
                        <div class="line"></div>
                        <button><i class="bi bi-brightness-alt-high-fill"></i></button>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <header>
        <div class="block1">
            <a href="./post.html">
                <div class="img">
                    <img src="https://images.prismic.io/kdake/371ac64c-be06-4098-bd68-2286c860ca0c_Rose_web.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                </div>
                <div class="info">
                    <p class="cate">&#9679; History</p>
                    <p class="name">A Brief History of the Rose</p>
                </div>
            </a>
        </div>
        <div class="block2">
            <div class="top">
                <a href="./post.html">
                    <div class="img">
                        <img src="https://images.prismic.io/kdake/f8787360-464e-4232-ac24-c45feecc4dca_UFO2_web.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </div>
                    <div class="info">
                        <p class="cate">&#9679; History</p>
                        <p class="name">A Brief History of the Rose</p>
                    </div>
                </a>
            </div>
            <div class="bottom">
                <div class="left">
                    <a href="./post.html">
                        <div class="img">
                            <img src="https://images.prismic.io/kdake/62b85a8f-74ed-4471-bfee-d2343671ac84_Sandwich_IG.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </div>
                        <div class="info">
                            <p class="cate">&#9679; History</p>
                            <p class="name">A Brief History of the Rose</p>
                        </div>
                    </a>
                </div>
                <div class="right">
                    <a href="./post.html">
                        <div class="img">
                            <img src="https://images.prismic.io/kdake/c3b8609a-a2f3-4ee6-9bff-0f1c8c58cf3d_Miley%20copy.jpg?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </div>
                        <div class="info">
                            <p class="cate">&#9679; History</p>
                            <p class="name">A Brief History of the Rose</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="indexMainBlock">
            <div class="articlesBlock">
                <div class="articlesHead">
                    <p>Articles</p>
                </div>
                <div class="articles">
                    <div class="article">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/ZtXyxLzzk9ZrW5CC_VibeKiller_web.png?ixlib=gatsbyFP&fit=max&auto=format%2Ccompress&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Business</a>
                            <a href="./post.html" class="name">What DOGE could gain by accessing your Social Security data</a>
                        </div>
                    </div>
                    <div class="article">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/6b865c27-3577-4619-b038-c4df26505f56_EducationWave2.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Technology</a>
                            <a href="./post.html" class="name">Apple launches the iPhone 16e, a cheaper new version of the iPhone 16</a>
                        </div>
                    </div>
                    <div class="article">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/70a8061f-d99e-45ca-a23e-034c7df3be6f_StepThrough_2.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Technology</a>
                            <a href="./post.html" class="name">Elon Musk debuts Grok 3, an AI model that he says outperforms ChatGPT and DeepSeek</a>
                        </div>
                    </div>
                    <div class="article">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/35867b91-2bbc-4250-b304-8d21ec91e5b1_sandwich2_IG2.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Entertainment</a>
                            <a href="./post.html" class="name">Dan Aykroyd acknowledges his absence at ‘SNL50’ special and shares the ‘advantage of not attending’</a>
                        </div>
                    </div>
                    <div class="article">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/830e7549-f63c-451c-b07f-201c2151c676_LightPhoneIG2.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Lifestyle</a>
                            <a href="./post.html" class="name">BJ Novak jokes that Mindy Kaling loves being famous at her Hollywood Walk of Fame ceremony</a>
                        </div>
                    </div>
                    <div class="article">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/96f36be4-82e4-4f77-bc52-373213c2d910_DioF.jpg?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Style</a>
                            <a href="./post.html" class="name">$1-billion Dubai skyscrapers to be linked by daring rooftop pool</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="selectedCategories">
                <div class="selectedCategoriesHead">
                    <p>Popular Categories</p>
                </div>
                <div class="categories">
                    <a href="./list.html" class="cate">History</a>
                    <a href="./list.html" class="cate">Technology</a>
                    <a href="./list.html" class="cate">Lifestyle</a>
                    <a href="./list.html" class="cate">Business</a>
                    <a href="./list.html" class="cate">Sport</a>
                    <a href="./list.html" class="cate">Entertainment</a>
                    <a href="./list.html" class="cate">Style</a>
                    <a href="./list.html" class="cate">Travel</a>
                    <a href="./list.html" class="cate">Economic</a>
                    <a href="./list.html" class="cate">Events</a>
                </div>
                <div class="selectedCategoriesHead">
                    <p>Popular articles</p>
                </div>
                <div class="oldArticles">
                    <div class="oldArticle">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/8e1083b6-b994-4562-adf9-b9eeb63fb884_MagaMelt3.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Category</a>
                            <a href="./post.html" class="name">In pictures: The 149th Westminster Kennel Club Dog Show</a>
                        </div>
                    </div>
                    <div class="oldArticle">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/f481b9b9-a576-45e5-9e47-de5a473c28c3_CrossF.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Category</a>
                            <a href="./post.html" class="name">Alien species wreaking havoc around the world</a>
                        </div>
                    </div>
                    <div class="oldArticle">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/0c912f12-dc06-47dd-8d5b-2470ea94a69f_SodaCanF2.jpg?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Category</a>
                            <a href="./post.html" class="name">No doctors for sick children. This is the reality of Trump’s aid freeze in remote northern Thailand</a>
                        </div>
                    </div>
                    <div class="oldArticle">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/90ea08f9-79f7-4113-84f6-32a8e5d93a42_20BillF.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Category</a>
                            <a href="./post.html" class="name">When protein shakes and pre-workout go too far</a>
                        </div>
                    </div>
                    <div class="oldArticle">
                        <a href="./post.html" class="img">
                            <img src="https://images.prismic.io/kdake/927e4606-7657-4513-90ab-956431832a40_BrokenRecord2.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                        </a>
                        <div class="info">
                            <a href="./list.html" class="cate">Category</a>
                            <a href="./post.html" class="name">In from the cold? Alibaba co-founder Jack Ma spotted among top tech bosses who met China’s Xi</a>
                        </div>
                    </div>
                </div>
                <div class="adverseBlock">
                    <a href="./index.html" class="img">
                        <img src="https://blogzine.webestica.com/assets/images/adv.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="indexArticlesMobile">
            <div class="articles">
                <div class="article">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/8e1083b6-b994-4562-adf9-b9eeb63fb884_MagaMelt3.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">History</a>
                        <a href="./post.html" class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat unde sapiente accusamus nobis. Assumenda maxime sapiente soluta quia aperiam repellendus expedita quam. Iure error sapiente assumenda animi amet totam quo?</a>
                    </div>
                </div>
            </div>
            <div class="articles">
                <div class="article">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/8e1083b6-b994-4562-adf9-b9eeb63fb884_MagaMelt3.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">History</a>
                        <a href="./post.html" class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat unde sapiente accusamus nobis. Assumenda maxime sapiente soluta quia aperiam repellendus expedita quam. Iure error sapiente assumenda animi amet totam quo?</a>
                    </div>
                </div>
            </div>
            <div class="articles">
                <div class="article">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/8e1083b6-b994-4562-adf9-b9eeb63fb884_MagaMelt3.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">History</a>
                        <a href="./post.html" class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat unde sapiente accusamus nobis. Assumenda maxime sapiente soluta quia aperiam repellendus expedita quam. Iure error sapiente assumenda animi amet totam quo?</a>
                    </div>
                </div>
            </div>
            <div class="articles">
                <div class="article">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/8e1083b6-b994-4562-adf9-b9eeb63fb884_MagaMelt3.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">History</a>
                        <a href="./post.html" class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat unde sapiente accusamus nobis. Assumenda maxime sapiente soluta quia aperiam repellendus expedita quam. Iure error sapiente assumenda animi amet totam quo?</a>
                    </div>
                </div>
            </div>
            <div class="articles">
                <div class="article">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/8e1083b6-b994-4562-adf9-b9eeb63fb884_MagaMelt3.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">History</a>
                        <a href="./post.html" class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat unde sapiente accusamus nobis. Assumenda maxime sapiente soluta quia aperiam repellendus expedita quam. Iure error sapiente assumenda animi amet totam quo?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainBottomSlider">
            <div>
                <div class="mainBottomSliderArticle">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/927e4606-7657-4513-90ab-956431832a40_BrokenRecord2.tif?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">Category</a>
                        <a href="./post.html" class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quis quidem, pariatur veniam quaerat magni eum sed ab quas? Nesciunt minus numquam libero hic eaque dolore ipsa animi. Fugiat, quibusdam?</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="mainBottomSliderArticle">
                    <a href="./post.html" class="img">
                        <img src="https://images.prismic.io/kdake/830e7549-f63c-451c-b07f-201c2151c676_LightPhoneIG2.png?ixlib=gatsbyFP&fit=max&auto=compress%2Cformat&q=50&fm=webp&w=1800" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">Category</a>
                        <a href="./post.html" class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quia? Culpa quo sint aperiam error inventore voluptatum. Error repellat aliquid rerum nesciunt voluptas ea quia, maxime neque praesentium, quis ipsa.</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="mainBottomSliderArticle">
                    <a href="./post.html" class="img">
                        <img src="https://www.antiquetrader.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_700/MjEwMDQ5ODg5ODg5OTUzMTQ2/designer.webp" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">Category</a>
                        <a href="./post.html" class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolor est laudantium, officiis maxime eum dolores fuga obcaecati sapiente sunt cupiditate quod, magni voluptate ipsam expedita illo! Esse, iusto accusamus?</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="mainBottomSliderArticle">
                    <a href="./post.html" class="img">
                        <img src="https://www.antiquetrader.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_2560/MTk5NTE3ODE2MTgzODU4ODE2/aqt-kovels-subscribe-panel.webp" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">Category</a>
                        <a href="./post.html" class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ut similique accusantium asperiores suscipit voluptates odit quibusdam veniam sint quae, minus obcaecati reprehenderit aspernatur cumque reiciendis doloribus recusandae, officia architecto!</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="mainBottomSliderArticle">
                    <a href="./post.html" class="img">
                        <img src="https://www.antiquetrader.com/.image/ar_233:100%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_1920/MTc5NjIwMzc1OTY4MDk3MzU5/captain-america-hitler-punch1_crop.webp" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">Category</a>
                        <a href="./post.html" class="name">Captain America: 10 Things You Didn't Know</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="mainBottomSliderArticle">
                    <a href="./post.html" class="img">
                        <img src="https://www.antiquetrader.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_677/MTc5NjIzNTk1ODUxMzkyMDc5/captain-america-2.webp" alt="">
                    </a>
                    <div class="info">
                        <a href="./list.html" class="cate">Category</a>
                        <a href="./post.html" class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quod aliquam libero consectetur, perferendis vero asperiores aspernatur obcaecati expedita porro in recusandae eveniet explicabo quidem doloremque sed deleniti assumenda iste.</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>All rights Reserved by Javidan Babayev &copy; 2025</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.5.2/jquery-migrate.min.js" integrity="sha512-BzvgYEoHXuphX+g7B/laemJGYFdrq4fTKEo+B3PurSxstMZtwu28FHkPKXu6dSBCzbUWqz/rMv755nUwhjQypw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/slick.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>